.todo-wrapper 
{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
button 
{
    width: 6rem;
    height: 3rem;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 700;
}
    button:hover
    {
        background-color: rgb(194, 6, 6);
        color: yellow;
    }
input[ type = "checkbox" ] 
{
    width: 26px;
    height: 26px;
    color: pink;
}