.add-wrapper 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 50px;
}
.input 
{
    width: 500px;
    height: 3rem;
    padding: 1rem;
    border-radius: 10px;
    border: none;
}
.AddToDoBtn
{
    width: 9.5rem;
    height: 3.3rem;
    background-color: rgb(41, 180, 245);
    border: none;
    border-radius: 10px;
    padding: 1.2rem;
    font-size: 16px;
    font-weight: bolder;
}
    .AddToDoBtn:hover
    {
        background-color: rgb(5, 95, 168);
        color: yellow;
        cursor: pointer;
    }