h1
{
    width: 100%;
    height: 33vh;
    padding: 4.5rem 4rem;
    background: linear-gradient(rgb(245, 189, 198), rgb(190, 91, 247));
    border-bottom: 1px solid white;
    color: black;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-size: 44px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.ToDo_Container
{
    width: 80%;
    height: 66vh;
    margin: 3rem auto;
    padding: 3rem;
    background-color: green;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    color: yellow;
}
.toDo_Heading
{
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bolder;
    color: blue;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.h-rule
{
    width: 81%;
    margin: 5rem auto;
    
}