h1
{
    width: 100%;
    height: 33vh;
    padding: 4.5rem 4rem;
    background: linear-gradient(rgb(245, 189, 198), rgb(190, 91, 247));
    border-bottom: 1px solid white;
    color: greenyellow;
    text-shadow: 2px 2px 1px black;
    text-align: center;
    font-size: 38px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.todo_container
{
    width: 38%;
    height: 20vh;
    margin: 4rem auto;
    text-align: center;
    font-weight: bolder;
    color: yellow;
}
.todo_heading
{
    width: 100%;
    height: 20vh;
    margin: 0rem auto;
    background: linear-gradient(rgb(99, 219, 99), rgb(30, 172, 30), green);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 31px;
    font-weight: bolder;
    color: blue;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
    .todo_heading:hover
    {
        border-top-left-radius: 117px;
        border-top-right-radius: 117px;
        color: red;
        background: linear-gradient(rgb(35, 120, 131),rgb(2, 181, 194));
        transition-duration: 0.75s;
    }
.h-rule
{
    margin: 0rem auto;
}
